* {
    font-family: 'Montserrat', sans-serif;
}

/*---------HEADER-------- */
li {
    list-style-type: none;
    display: block;
    justify-content: center;
    margin-left: 5em;
}

li a {
    list-style-type: none;
    color: white;
    display: flex;
    float: left;
    margin: 0px 20px;
}

a {
    text-decoration: none;
    color: #E15C5C;
}

.head {
    color: white;
    font-size: 40px;
    margin-top: 150px;
}

img {
    border-radius: 50%;
    width: 20em;
    display: flex;
}

.about {
    width: 400px;
    color: white;
    text-align: center;
}

.about_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ------------------------*/


/*--------- SKILLS ------- */

.column {
    float: left;
    width: 30%;
    max-width: 500px;
    height: 320px;
    text-align: center;
    border-style: solid;
    border-color: #303030;
    box-shadow: 2px 5px 0px 0px rgba(0,0,0,0.25);
    transition: 0.4s;
    background-color: white;;
}
.column:hover {
    transform: scale(0.98, 0.98);
}

.column:nth-child(2) {
    border-right-color: white;
    border-left-color: white;
}

.column:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.column:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.column h5 {
    font-size: 24px;
    color: #E15C5C ;
}


.skillbox, .projectbox{
    height: 100px;
    width: 100%;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.show_skills {
    display: flex;
    justify-content: center;
    top: 10px;
}

.list {
    margin: 25px;
}

@media screen and (max-width: 600px) {
    .column h5 {
      font-size: 18px;
    }
  }

@media screen and (max-width: 740px) {
    .imgg {
      display: none;
    }
  }

/*------------------------- */

/*------- PROJECTS -------- */

.project1, .project2 {
    padding: 1rem;
    height: 15rem;
    border-style: solid;
    border-color: #303030;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 6px 0px 0px rgba(0,0,0,0.25);
    transition: 0.4s;
    background-color: white;
}

.project_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card_header {
    margin: 10px;
    font-size: 2rem;
}

.info {
    color: #E15C5C;
    font-size: 1.34rem;
    margin-top: 20px;
}

.button_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.button {
    display: flex;
    float: left;
    width: 35%;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    margin: 50px 0px;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: 22px;
}

.project1:hover, .project2:hover {
    transform: scale(0.96, 0.96);
  }
@media (min-width: 600px) {
    .project_wrapper { grid-template-columns: repeat(2, 1fr); }
  }
/*------------------------- */

/*-------- BACKGROUND------ */

body {
	background: #FF416C; 
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*------------------------- */

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img {
    border-radius: 50%;
}

